@import "../all.scss";
.absolute{
    position: absolute;
}
.banner{
    position: relative;
    p{
        @extend .absolute;
        left: 75%;
        top: 60%;
        font-weight: 700;
        color: white;
        font-size: 24px;
    }
    a{
        color: #fff;
        position: absolute;
        left: 75%;
        top: 80%;
    }
}

.recommend{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 150px 0 ;
    .slogan{
        // border: 1px solid #000;
        width: 35%;
        line-height: 60px;
        font-weight: 900;
        padding-left: 5%;
        h4{
            font-size: 50px;
            line-height: 80px;
        }
        h5{
            font-size: 25px;
            line-height: 50px;
            color: grey;
        }
    }
    // border: 1px solid #000;
    .swiper-container{
        width: 60%;
        margin: 0;
        // border: 1px solid yellow;
    }
    .swiper-slide{
        // width: 600px;
        height: 100%;
        // border: 1px solid red;
        opacity: .5;
        transform: scale(0.9);
        transition: all .3s;
        .card{
            // width: 600px;
            h4{
                font-weight: 900;
                font-size: 80px;
            }
            .dm{
                max-width: 100%;
                overflow: hidden;
                height: 450px;
            }
        }
    }
    .last{
        width: 1%;
    }
    .swiper-slide-active{
        opacity: 1;
        transform: scale(1);
    }
}

.aboutUs{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $d-grey;
    color: white;
    padding: 150px 0;
    position: relative;
    // img{
    //     border: 1px solid red;
    //     animation: rotate 8s infinite linear;
    //     width: 20%;
    // }
    // @keyframes rotate{
    //     0%{
    //         transform: rotate(0deg);
    //     }
    //     100%{
    //         transform: rotate(360deg);
    //     }
    // }
    .title{
        width: 40%;
        .color-1{
            stroke: #fff;
            stroke-width: 1px;
        }
        rect{
            fill: transparent;
            stroke: #fff;
        }
            /* Letter path */

        .letter__layer {
            fill: none;
        }
    }
    .introduce{
        // margin-left: 80px;
        h2{
            margin-bottom: 32px;
            font-size: 32px;
            font-weight: 900;
        }
        p{
            line-height: 30px;
        }
    }
}