@import "../all.scss";
.loading{
    background-color: #fff;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 100000;
    transition: all .3s;
    img{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-70%);
        width: 500px;
    }
}
.banner{
    position: relative;
    margin-top: 8vh;
    .text{
        position: absolute;
        left: 7%;
        top: 60%;
        color: #fff;
        h5{
            font-size: 2rem;
        }
        a{
            color: #fff;
        }
    }
}

.recommend{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 150px 0 ;
    position: relative; 
    @include respond(pad){
        flex-direction: column;
    }
    .slogan{
        // border: 1px solid #000;
        padding-bottom: 100px;
        width: 35%;
        line-height: 60px;
        font-weight: 900;
        padding-left: 8%;
        @include respond(pad){
            width: 100%;
            text-align: center;
            padding-left: 0;
        }
        h4{
            font-size: 30px;
            line-height: 60px;
        }
        h5{
            font-size: 20px;
            line-height: 40px;
            color: grey;
        }
        .btn{
            @include btn-lighten(white,$d-grey);
            width: 150px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            padding: 0;
        }
    }
    // border: 1px solid #000;
    .swiper-container{
        width: 60%;
        margin: 0;
        @include respond(pad){
            width: 100%;
        }
        // border: 1px solid yellow;
    }
    .swiper-slide{
        // width: 600px;
        height: 100%;
        // border: 1px solid red;
        opacity: .5;
        transform: scale(0.9);
        transition: all .3s;
        .card{
            // width: 600px;
            @include respond(pad){
                margin: 0 30px;
            }
            h4{
                font-weight: 900;
                font-size: 80px;
                @include respond(mobile){
                    font-size: 40px;
                }
            }
            .dm{
                max-width: 100%;
                overflow: hidden;
            }
        }
    }
    .swiper-slide-active{
        opacity: 1;
        transform: scale(1);
    }
}

.aboutUs{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $d-grey;
    color: white;
    padding: 150px 0;
    position: relative;
    @include respond(pad){
        flex-direction: column;
    }
    .title{
        width: 40%;
        transform: scale(0.8);
        // border: 1px solid yellow;
        @include respond(pad){
            width: 90%;
            transform: scale(1);
            // border: 1px solid red;
            margin-bottom: 80px;
        }
        .color-1{
            stroke: #fff;
            stroke-width: 1px;
        }
        .animation{
            animation: textAnimation 3s ease-in-out infinite alternate;
        }
        rect{
            fill: transparent;
            stroke: #fff;
        }
            /* Letter path */

        .letter__layer {
            fill: none;
        }
    }
    @keyframes textAnimation {
        0%{
            stroke-dasharray: 40;
            opacity: 0;
        }
        100%{
            stroke-dasharray: 400;
            opacity: 1;
        }
    }
    .introduce{
        margin-left: 80px;
        @include respond(pad){
            margin: 0 30px;
        }
        h2{
            margin-bottom: 32px;
            font-size: 32px;
            font-weight: 900;
            @include respond(pad){
                font-size: 25px;
                // text-align: center;
            }
        }
        p{
            line-height: 30px;
            @include respond(pad){
                font-size: 14px;
                // text-align: center;
            }
        }
    }
}

#contactUs{
    padding: 250px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    line-height: 30px;
    position: relative;
    @include respond(mobile){
        padding: 150px 0;
    }
    h4{
        font-size: 80px;
        -webkit-text-stroke: 2px #000;
        color: transparent;
        @include respond(mobile){
            font-size: 60px;
            -webkit-text-stroke: 1px #000;
        }
        span{
            @include respond(mobile){
                margin-top: 60px;
            }
        }
    }
    a{
        color: #000;
        text-decoration: underline;       
        
    }
    
    .wrights{
        position: absolute;
        // border: 1px solid #000;
        left: -200px;
        top: 50%;
        transform: rotate(90deg);
        color: #d8d8d4;
        display: flex;
        justify-content: center;
        align-items: center;
        @include respond(mobile){
            flex-direction: column-reverse;
            transform: rotate(0deg);
            bottom: 0;
            left: 0;
            margin: 0 auto;
            width: 100%;
            font-size: 12px;
            top: 75%;
        }
        p{
            display: block;
        }
        img{
            cursor: pointer;
        }
        .marqueeAll{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .marquee{
            // margin-bottom: 30px;
            margin-left: 100px;
            height: 40px;
            width: 100px;
            // border: 1px solid #000;
            overflow: hidden;
            position: relative;
            display: inline-block;
            vertical-align: middle;
            @include respond(mobile){
                margin: 5px 0;
            }
            div{
                display: block;
                width: 200px;
                height: 30px;
                position: absolute;
                overflow: hidden;
                animation: marquee 2s linear infinite;
                @include respond(mobile){
                    width: 200%;
                }
            }
            span{
                color: #666;
                float: left;
                width: 50%;
            }
            @keyframes marquee {
                0% { left: 0; }
                100% { left: -100%; }
            }
        }
        a{
            @include respond(mobile){
                display: inline-block;
                margin-left: 20px;
            }
        }
        img{
            animation: scroll 1s infinite linear alternate;
            margin-left: 30px;
            @include respond(mobile){
                animation: scrollMobile 1s infinite linear alternate;
                margin: 0;
                width: 50%;
            }
        }
        @keyframes scroll {
            0%{
                transform: translateX(0px) rotate(90deg);
            }
            100%{
                transform: translateX(10px) rotate(90deg);
            }
        }
        @keyframes scrollMobile {
            0%{
                transform: translateY(0px) rotate(180deg);
            }
            100%{
                transform: translateY(10px) rotate(180deg);
            }
        }
    }
}