@import "../all";

@import "../all";

.detailall{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12vh;
    // border: 1px solid red;
    @include respond(middle){
        margin-left: 30px;
        margin-right: 30px;
    }
    .detail{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        @include respond(pad){
            flex-direction: column;
        }
        // margin-left: 30px;
        .swiper-container{
            width: 50%;
            margin: 50px;
            // border: 1px solid black;
            @include respond(mobile){
                width: 80%;
            }
            .howmuch{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                // border: 1px solid #000;
                margin: 15px;
            }
            p{
                text-align: center;
                font-size: 20px;
            }
        }
    .secondBanner{
        width: 50%;
        @include respond(pad){
            display: flex;
            flex-direction: column-reverse;
            width: 100%;
        }
        .secondpic{
            //    border: 1px solid red;
            width: 100%;
            background-color:#F8F8F8;
            padding: 10px;
            touch-action: none;
            @include respond(pad){
                padding: 0;
                margin-top: 30px;
            }
            img{
                width:60%;
                margin: 0 auto;
                display: block;
            //    border: 1px solid #000;        
            }
            
            
        }
        .scooterDetail{
            .choose{
                display:flex;
                justify-content:flex-start;
                align-items: center;
                margin:20px;
                @include respond(mobile){
                    margin: 0;
                }
                p{
                    margin-bottom: 10px;
                }
                .color{
                        margin: 10px;
                        width: 80%;
                        @include respond(pad){
                            width: 100%;
                        }
                        // border: 1px solid #000;
                    .radio{
                        display: inline-flex;
                        align-items: center;
                        cursor:pointer;
                        position: relative;
                        margin: 0 4px;
                        @include respond(pad){
                            margin: 0 3px;
                        }
                        // border: 1px solid yellow;
                    }
                    .radio_input{
                        display:none;
                    }
                    .changecolor{
                        width: 20px;
                        height: 20px;
                        border: 1px solid gray;
                        border-radius: 50%;
                        // margin-right: 5px;
                        box-sizing: border-box;
                        padding: 10px;
                    }
                    .white{
                        background: white;
                    }
                    .blue{
                        background: blue;
                    }
                    .grey{
                        background: gray;
                    }
                    .black{
                        background: black;
                    }
                    .red{
                        background: maroon;
                    }
                    .changecolor::after {
                        content:"";
                        width: 25px;
                        height: 25px;
                        display: block;
                        border-radius: 50%;
                        border: 1px solid black;
                        transform: scale(0);
                        // transition: transform 1s;
                    }
                    
                    .radio_input:checked + .changecolor::after{
                        transform: scale(1);
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%,-50%);
                    }
                }
                .description{
                    margin-left: 13%;
                    line-height: 25px;
                    width: 100%;
                    @include respond(mobile){
                        margin-left: 0;
                    }
                    p{
                        @include respond(mobile){
                            font-size: 13px;
                        }
                    }
                    // border: 1px solid #000;
                }
            }
                .info{
                    // border: 1px solid black;
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;
                    // border: 1px solid #000;
                    flex-wrap: wrap;
                    .km{
                        border-radius: 25px;
                        box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
                        width: 40%;
                        // width: 30%;
                        padding: 25px 5px;
                        text-align: center;
                        margin: 20px 10px;
                        line-height: 25px;
                        @include respond(pad){
                            margin: 10px;
                        }
                        @include respond(mobile){
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}
//we recommend 
.recommend{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;
    max-width: 1200px;
    margin: 100px auto;
    @include respond(mobile){
        flex-direction: column;
    }
    .weRecommend{
        text-align: center;
        // border: 1px solid #000;
        width: 100%;
        .more{
            font-weight: bold;
            margin:10px;
        }
        .morecar{
            font-size: 25px;
        }
    }
    .recommend-link{
        width: 30%;
        text-align: center;
        margin-top: 60px;
        color: #000;
        @include respond(mobile){
            width: 50%;
            margin-left: auto;
            margin-right: auto;
        }
        img{ 
            width: 300px;
            max-width: 100%;
            // border: 1px solid #000;
            object-fit: contain;
        }
        h4{
            // padding: 10px;
            font-size: 20px;
        }
    }
}




