@import "../all";
.wrapper{
    position: relative;
    height: 100vh;
    width: 100%;
    .swiper-slide{
        height: 100vh;
    }
    .left,.right{
        position: absolute;
        width: 50%;
        height: 0;
    }
    .left{
        background-color: transparent;
        height: 100%;
    }
    .right{
        background-color: #022889;
        left: 50%;
    }
    .bg-1{
        background-color: maroon;
    }
    .bg-2{
        background-color: steelblue;
    }
    .product-img{
        position: absolute;
        width: 40%;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-40%);
        z-index: 2;
        opacity: 0;
        @include respond(middle){
            width: 60%;
        }
        @include respond(mobile){
            width: 80%;
        }
    }
    // .product-text{
    //     position: absolute;
    //     left: 50%;
    //     top: 40%;
    //     transform: translate(-50%,-100%);
    //     .product-title{
    //         font-size: calc(1.2rem + (170 - 1) * ((100vw - 900px) / (1200 - 350)));
    //         letter-spacing: 60px;
    //         .model{
    //             color: #fff;
    //             margin-left: 30%;
    //         }
    //     }
    .product-title{
        font-size: calc(1.2rem + (170 - 1) * ((100vw - 900px) / (1200 - 350)));
        letter-spacing: 60px;
        position: relative;
        text-align: center;
        color: white;
        font-family: 'agnecyFB';
        // border: 1px solid red;
        @include respond(middle){
            font-size: 120px;
            letter-spacing: 20px;
        }
        @include respond(mobile){
            font-size: 50px;
        }
    }
    .noChange{
        color: #000;
        text-align: center;
        left: 15%;
        top: 15%;
    }
    .product-text{
        opacity: 0;
    }
    .slogan{
        position: absolute;
        right: 15%;
        top: 70%;
        text-align: center;
        color: #fff;
        z-index: 2;
        @include respond(large){
            right: 5%;
        }
        @include respond(middle){
            top: 80%;
        }
        @include respond(mobile){
            right: 2%;
            top: 65%;
        }
        h6{
            font-size: 20px;
            @include respond(mobile){
                font-size: 14px;
            }
        }
        .btn{
            margin-top: 30px;
            @include btn-lighten(white,$d-grey);
            @include respond(mobile){
                margin-top: 16px;
            }
        }
    }
    .wrights{
        position: absolute;
        left: -200px;
        top: 50%;
        transform: rotate(90deg);
        color: #d8d8d4;
        display: flex;
        justify-content: center;
        align-items: center;
        @include respond(mobile){
            display: none;
        }
        .marquee{
            // margin-bottom: 30px;
            margin-left: 100px;
            height: 15px;
            width: 100px;
            // border: 1px solid #000;
            overflow: hidden;
            position: relative;
            div{
                display: block;
                width: 200px;
                height: 30px;
                position: absolute;
                overflow: hidden;
                animation: marquee 2s linear infinite;
            }
            span{
                color: #666;
                float: left;
                width: 50%;
            }
            @keyframes marquee {
                0% { left: 0; }
                100% { left: -100%; }
            }
        }
        img{
            transform: rotate(-90deg);
            margin-left: 24px;
            animation: scroll 1s infinite linear alternate;
        }
        @keyframes scroll {
            0%{
                transform: translateX(0px) rotate(-90deg)
            }
            100%{
                transform: translateX(10px) rotate(-90deg);
            }
        }
    }
}
@keyframes float{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0px);
    }
}


section{
    padding-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .scooter-title{
        // border: 1px solid #000;
        text-align: center;
        width: 100%;
        .title{
            font-weight: 900;
            width: 20%; 
            padding: 16px 0;
            margin: 0 auto;
            @include respond(mobile){
                width: 100%;
            }
            p{
                width: 50%;
                margin: 0 auto;
                @include respond(mobile){
                    width: 100%;
                }
            }
            h5{
                font-size: 28px;
            }
            hr{
                width: 30%;
                border: 2px solid #000;
                background-color: #000;
                @include respond(mobile){
                    width: 10%;
                }
            }
        }
    }
}

#newArrivals{
    .newScooters{
        display: flex;
        justify-content: center;
        align-items: flex-end;
        @include respond(mobile){
            flex-direction: column;
        }
        li{
            margin: 0 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            h6{
                font-size: 20px;
            }
            img{
                object-fit: contain;
                width: 300px;
                max-width: 100%;
            }
            .btn{
                @include btn-lighten(white,#000);
                // border: 1px solid #000;
            }
        }
    }
}

#allScooters{
    margin-bottom: 150px;
    select{
        padding: 10px 20px;
        border-radius: 30px;
        color: $l-grey;
        option{
            color: #000;
        }
    }
    ul{
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        flex-wrap: wrap;
        margin: 0 50px;
        max-width: 1440px;
        // width: 80%;
        // margin: 0 auto;
        // border: 1px solid #000;
        li{
            // height: 350px;
            margin: 60px 3%;
            width: 19%;
            // max-width: 300px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            flex-direction: column;
            text-align: center;
            position: relative;
            font-size: 20px;
            @include respond(pad){
                width: 40%;
                // margin-left: 0px;
            }
            @include respond(mobile){
                width: 100%;
                // margin: 200px 2px 0 20px;
                // margin-top: 20px;
            }
            h6{
                font-size: 20px;
            }
            img{
                width: 300px;
                max-width: 100%;
                z-index: 2;
                // transform: translateY(-150px);
                // border: 1px solid #000;
            }
            a{
                @include btn-lighten(white,#000);
                font-weight: 500;
            }
        }
    }
}

