@import "../all";

.detailall{
    max-width: 948px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    // border: 1px solid red;
    .detail{
        width: 40%;
        margin-left: 30px;
        h3{
            margin-bottom: 30px;
        }
        p{
            line-height: 25px;
        }
        .radio{
            display: inline-flex;
            align-items: center;
            cursor:pointer;
            position: relative;
            // border: 1px solid yellow;
        }
        .radio_input{
            display:none;
        }
        .changecolor{
            width: 20px;
            height: 20px;
            border: 1px solid gray;
            border-radius: 50%;
            // margin-right: 5px;
            box-sizing: border-box;
            padding: 2px;
        }
        .w{
            background: white;
        }
        .b{
            background: blue;
        }
        .g{
            background: gray;
        }
        .bk{
            background: black;
        }
        .changecolor::after {
            content:"";
            width: 25px;
            height: 25px;
            display: block;
            border-radius: 50%;
            border: 1px solid black;
            transform: scale(0);
            // transition: transform 1s;
        }
        
        .radio_input:checked + .changecolor::after{
            transform: scale(1);
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
        }
    }
    .detailImg{
        width: 500px;
        // border: 1px solid #000;
    }
    // .owl-carousel{
    //        width: 500px;
    //        margin-top: 50px;
    //}
}

