body{
    overflow-x: hidden;
    position: relative;
    font-family: 'Roboto','taipeisans','sans-serif';
}

@font-face {
    font-family: taipeisans;
    src: url(../../fonts/TaiPeiSansTCBeta-Light.ttf),
        url(../../fonts/TaiPeiSansTCBeta-Regular.ttf),
        url(../../fonts/fonts/TaiPeiSansTCBeta-Bold.ttf);
}

//顏色
$l-grey: #555555;
$m-grey: #323237;
$d-grey: #101010;
$cyan: #2EBFA5;
$blue: #3f7cac;


// 字的大小
$fontScale: (
    "h1": 80px,
    "h2": 60px,
    "h3": 52.5px,
    "h4": 18px,
    "h5": 37.5px,
    "h6": 30px,
    "p" : 15px,
    "small": 12px
);

@each $f,$s in $fontScale{
    #{$f},.#{$f}{
        font-size: $s;
    } 
};

//按鈕
@mixin btn($color){
    // width: 120px;
    // height: 35px;
    // background-color: $color;
    // border-radius: 30px;
    // color:white;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    display: inline-block;
    padding: .75rem 1.25rem;
    border-radius: 10rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .15rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $color;
        border-radius: 10rem;
        z-index: -2;
    }
    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: darken($color, 15%);
        transition: all .3s;
        border-radius: 10rem;
        z-index: -1;
    }
    &:hover {
        color: #fff;
        &:before {
        width: 100%;
        }
    }
}

