body{
    overflow-x: hidden;
    // position: relative;
    font-family: 'Roboto','taipeisans','sans-serif';
    width: 100%;
}

html{
    scroll-behavior: smooth;
}

@font-face {
    font-family: taipeisans;
    src: url(../../fonts/TaiPeiSansTCBeta-Light.ttf),
        url(../../fonts/TaiPeiSansTCBeta-Regular.ttf),
        url(../../fonts/fonts/TaiPeiSansTCBeta-Bold.ttf);
}
@font-face {
    font-family: agnecyFB;
    src: url(../../fonts/AGENCYB.TTF);
}

//顏色
$l-grey: #555555;
$m-grey: #323237;
$d-grey: #101010;
$cyan: #2EBFA5;
$blue: #3f7cac;


//scroll bar
::-webkit-scrollbar{
    width: 10px;
    background-color: #ececec;
}

::-webkit-scrollbar-thumb{
    background-color: rgb(214, 214, 214);
    border-radius: 5px;
}


// 字的大小
$fontScale: (
    "h1": 80px,
    "h2": 60px,
    "h3": 52.5px,
    "h4": 48px,
    "h5": 37.5px,
    "h6": 30px,
    "p" : 16px,
    "small": 12px
);

@each $f,$s in $fontScale{
    #{$f},.#{$f}{
        font-size: $s;
    } 
};
//margin
@for $i from 1 to 10 {
    .mt-#{$i}{
        margin-top: $i * 8px;
    }
}

@each $f,$s in $fontScale{
    #{$f},.#{$f}{
        font-size: $s;
    } 
};
//按鈕
@mixin btn($word-color, $bg-color){
    // width: 120px;
    // height: 35px;
    // background-color: $color;
    // border-radius: 30px;
    // color:white;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    background-color: transparent;
    border: none;
    outline: none;
    display: inline-block;
    padding: .75rem 2rem;
    border-radius: 10rem;
    color: $word-color;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .15rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $bg-color;
        border-radius: 10rem;
        z-index: -2;
    }
    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: darken($bg-color, 15%);
        transition: all .3s;
        border-radius: 10rem;
        z-index: -1;
    }
    &:hover {
        color: $word-color;
        &:before {
        width: 100%;
        }
    }
}

@mixin btn-lighten($word-color, $bg-color){
    // width: 120px;
    // height: 35px;
    // background-color: $color;
    // border-radius: 30px;
    // color:white;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    background-color: transparent;
    border: none;
    outline: none;
    display: inline-block;
    padding: .75rem 2rem;
    border-radius: 10rem;
    color: $word-color;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .15rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $bg-color;
        border-radius: 10rem;
        z-index: -2;
    }
    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: lighten($bg-color, 30%);
        transition: all .3s;
        border-radius: 10rem;
        z-index: -1;
    }
    &:hover {
        color: $word-color;
        &:before {
        width: 100%;
        }
    }
}


//rwd
$breakpoint_each: (
    "mobile": 767px,
    "pad": 992px,
    "middle": 1024px,
    "large": 1440px,
    "max": 2560px,
);
@mixin respond($rwd,$style:all){
    @each $break, $val in $breakpoint_each{
        @if $rwd == $break{
            @media #{$style} and (max-width: $val){
                @content;
            }
        }
    }
}