<footer>
    <div class="all">
        <div class="community">
            <div class="logo"></div>
            <ul>
                <li>
                    <a href="#">
                        <i class="fab fa-facebook-square"></i>
                        FaceBook
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fab fa-instagram"></i>
                        Instagram
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fab fa-line"></i>
                        Line
                    </a>
                </li>
            </ul>
        </div>
        <div class="category">
            <ul>
                <li>
                    <h4>智慧電動車</h4>
                </li>
                <li><a href="#">Mini-Qbi | <span>JY-166S</span></a></li>
                <li><a href="#">Qunnie | <span>JY-166S</span></a></li>
                <li><a href="#">Hama | <span>JY-166S</span></a></li>
                <li><a href="#">Mobile | <span>JY-166S</span></a></li>
                <li><a href="#">DuDu | <span>JY-166S</span></a></li>
                <li><a href="#">Dream | <span>JY-166S</span></a></li>
            </ul>
        </div>
        <div class="buyInfo">
            <ul>
                <li>
                    <h4>購買資訊</h4>
                </li>
                <li><a href="#">經銷商專區</a></li>
                <li><a href="#">門市服務據點</a></li>
            </ul>
        </div>
        <div class="aboutMCY">
            <ul>
                <li>
                    <h4>關於MCY MOTOR</h4>
                </li>
                <li>地址 : 桃園市中壢區中華路二段185號1F</li>
                <li>電話 : 03-4612877</li>
                <li>傳真 : 03-4612879</li>
                <li>E-Mail : mcymotor@hotmail.com</li>
            </ul>
        </div>
    </div>
</footer>