<footer>
    <div class="all">
        <div class="community">
            <div class="logo"></div>
            <ul>
                <li>
                    <a href="#">
                        <i class="fab fa-facebook-square"></i>
                        <span>FaceBook</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fab fa-instagram"></i>
                        <span>Instagram</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fab fa-line"></i>
                        <span>Line</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="category">
            <ul class="typeCategory">
                <li>
                    <h4>精選系列</h4>
                </li>
                <li><a href="./scooterDetail.html" data-id="1">Dream | <span>JY-158X</span></a></li>
                <li><a href="./scooterDetail.html" data-id="2">Mobile | <span>JY-158A</span></a></li>
                <li><a href="./scooterDetail.html" data-id="6">Qunnie | <span>JY-166S</span></a></li>
                <li><a href="./scooterDetail.html" data-id="7">Mini-Qbi | <span>JY-188L</span></a></li>
                <li><a href="./scooterDetail.html" data-id="4">Hama | <span>JY-158S</span></a></li>
            </ul>
        </div>
        <!-- <div class="buyInfo">
            <ul>
                <li>
                    <h4>購買資訊</h4>
                </li>
                <li><a href="#">經銷商專區</a></li>
                <li><a href="#">門市服務據點</a></li>
            </ul>
        </div> -->
        <div class="aboutMCY">
            <ul>
                <li>
                    <h4>關於美家園</h4>
                </li>
                <li>地址 : 桃園市中壢區中華路二段185號1F</li>
                <li>電話 : 03-4612877</li>
                <li>傳真 : 03-4612879</li>
            </ul>
        </div>
    </div>
</footer>