<nav>
    <div class="logo">
        <h1><a href="index.html" class="brand">MCY MOTOR</a></h1>
    </div>
    <ul class="nav-links">
        <li><a href="">車款介紹</a></li>
        <li><a href="">服務據點</a></li>
        <li><a href="">關於我們</a></li>
        <li><a href="">經銷商專區</a></li>
    </ul>
    <div class="menu">
        <div class="search">
            <input type="text" name="search" id="search" placeholder="搜尋車款">
        </div>
        <div class="burgerMenu">
            <span>MENU</span>
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </div>
    </div>
</nav>

<script src="./js/header.js"></script>